@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#top {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
nav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#indexTop {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#topBanner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#mainContent {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#bottomBanner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#top {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
nav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#indexTop {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#topBanner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#mainContent {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#bottomBanner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width:100%;
	margin: auto;
	padding:0;
}
header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#top {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
nav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#indexTop {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#topBanner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#mainContent, #otherContent, .twoCol, .oneCol {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#bottomBanner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}
body {
	font-family: 'Open Sans', sans-serif; font-size:14px; line-height:25px;
}
.holder {
	width:1200px; margin:0 auto; position:relative;
}
ul {
	padding:0; margin:0;
}
#top h1 {
	float:left;
}
#top ul {
	float:right; list-style:none; margin-top:55px;
}
#top ul img {
	margin-right:10px;
}
#top li {
	float:left; margin-right:15px;
}
.phone-icon {
	border-left: 1px solid rgb(216, 216, 216); padding-left:20px;
}
#top li a {
	text-decoration:none; font-weight:300; color:black;
}
#top li a:hover {
	text-decoration:underline;
}
nav {
	background:red; height:50px; line-height:50px;
}
nav li {
	float:left;
}
nav a {
	text-decoration:none; color:white; text-transform:uppercase; font-weight:600; padding:0 20px; display:inline-block; font-size:15px; background:red; -webkit-transition: background 1s, color 1s; transition: background 1s, color 1s;
}
nav a:visited {
	color:black;
}
nav a:hover {
	background:black; color:white;
}
#indexTop {
	height:470px; background:url(_images/blue-bkg.jpg);
}
#indexTop .holder {
	margin-top:50px;
}
#indexTop .left {
	float:left; position:relative; width:700px; color:white;
}
#indexTop h2 {
	font-size:42px; position:absolute; top:25px; left:250px; text-shadow: 3px 3px 3px rgba(16,108,134,.75);
}
#indexTop h4 {
	font-size:27px; position:absolute; top:150px; left:405px; text-shadow: 3px 3px 3px rgba(16,108,134,.75);
}
#indexTop h4.top {
	top:110px; left:365px;
}
#homeForm {
	float:right; width:280px; padding:20px; background:white; -webkit-border-radius: 3px;
border-radius: 3px; -webkit-box-shadow: 1px 1px 5px rgba(15,103,136,.75); -moz-box-shadow: 1px 1px 5px rgba(15,103,136,.75); box-shadow: 1px 1px 5px rgba(15,103,136,.75);
}
#homeForm h3 {
	text-align:center; color:#ff9600; font-size:32px;
}
#homeForm label {
	background: #3da0bc; -webkit-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; width: 40px; height: 39px; display: inline-block; position: absolute; z-index: 5;
}
#homeForm label img {
	position:absolute; z-index:10; top:11px; left:10px;
}
#homeForm input {
	width:100%; margin-bottom:30px; position:relative;
}
#homeForm input[type="email"], #homeForm input[type="text"] {
	height:35px; line-height:35px; border:1px solid #3da0bc; -webkit-border-radius: 5px;
border-radius: 5px; padding-left:45px; width:233px;
}
#homeForm input[type="submit"], #homeForm a, #cForm a {
	color:white; height:50px; line-height:50px; border:none; font-weight:600; font-size:20px; -webkit-border-radius: 5px; border-radius: 5px;
	background: #ff9200;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOTIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjY3MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ff9200 0%, #ff6700 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9200), color-stop(100%,#ff6700));
background: -webkit-linear-gradient(top,  #ff9200 0%,#ff6700 100%);
background: -o-linear-gradient(top,  #ff9200 0%,#ff6700 100%);
background: -ms-linear-gradient(top,  #ff9200 0%,#ff6700 100%);
background: linear-gradient(to bottom,  #ff9200 0%,#ff6700 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9200', endColorstr='#ff6700',GradientType=0 );

}
#homeForm a, #cForm a {
	text-decoration:none; padding: 5px 0px; display: block; text-align: center; margin-bottom:30px;
}
#topBanner {
	background:#ff7c00; color:white;
}
#topBanner .col {
	float:left; width:350px; padding:25px 0;
}
#topBanner .center {
	margin:0 50px;
}
#topBanner h5 {
	font-size:24px; font-weight:600; margin:0;
}
#topBanner p {
	font-size:16px;
}
#mainContent {
	color:black; padding:50px 0px;
}
#mainContent h4 {
	text-transform:uppercase; text-align:center; font-size:24px; font-weight:600; margin: 0 0 30px 0;
}
#mainContent h5 {
	font-size:18px; margin:20px 0px;
}
#mainContent p {
	text-align:center; 
}
.circles {
	border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; margin-top:40px; padding-bottom:40px;
}
.circle h3{
	font-size:20px; margin: 0 0 50px 0; padding-top:40px;
}
.circleImg {
	margin-right:30px; -webkit-filter: drop-shadow(0px 0px 2px #222); filter: drop-shadow(0px 0px 2px #222); float:left; margin-left:50px;
}
#mainContent .circle p {
	float:left; text-align:left; width:800px; line-height:30px; margin-bottom:20px;
}
#bottomBanner {
	padding:40px 0px; background:url(_images/blue-bkg.jpg); text-align:center; text-transform:uppercase;
}
#bottomBanner p {
	color:#175268; font-size:30px;
}
#bottomBanner b {
	padding:40px 0px;
}
#bottomBanner a, #bottomBanner b {
	color:white; font-size:60px; text-decoration:none;
}
footer {
	background:black; color:white; padding:40px 0px;
}
footer .left {
	float:left; width:600px;
}
footer li.first {
	border:none; padding-left:0;
}
footer li {
	float:left; list-style:none; border-left:1px solid white; padding:0 10px;
}
footer a {
	text-decoration:none; color:white; text-transform:uppercase; font-weight:600; font-size:15px;
}
footer p {
	line-height:20px;
}
footer .right {
	float:right;
}
footer .right p, footer .right a {
	text-align:right;
}
.threeCol {
	float:left; width:800px; margin-bottom:40px;
}
.sidebar {
	width:320px; float:right; margin-top:60px;
}
.side {
	width:100%; margin:0 0 50px 0; -webkit-border-radius: 8px 8px 4px 4px;
border-radius: 8px 8px 4px 4px; -webkit-box-shadow: 0 0 2px rgba(0,0,0,.75);
	-moz-box-shadow: 0 0 2px rgba(0,0,0,.75); box-shadow: 0 0 2px rgba(0,0,0,.75);
}
.side h3 {
	background:black; color:white; padding:12px 20px; margin:0; -webkit-border-radius: 8px 8px 0 0; border-radius: 8px 8px 0 0; font-size:20px; text-transform:uppercase;
}
.side ul {
	padding:20px 0 30px 0;
}
.side li {
	list-style:none; line-height:25px; list-style-image:url(_images/listItem.png); margin:10px 0 0 38px;
}
.threeCol {
	margin-top:60px;
}
.threeCol h2 {
	margin:0 0 40px 0; font-size:28px;
}
.threeCol .left {
	float:left; width:470px;
}
.buttonHolder {
	margin:30px 0px;
}
.buttonHolder a {
	color:white; -webkit-border-radius: 6px; border-radius: 6px; padding: 17px 15px; background: rgb(67, 116, 241); text-decoration:none; font-weight:600; text-shadow: 0px 2px 2px rgba(16,108,134,.75); font-size:12px; text-transform:uppercase;
}
.threeCol .right{
	float:right; width:380px;
}
.twoCol {
	float:left; width:870px;
}
.twoCol h2 {
	margin:60px 0 30px 0;
}
.twoCol iframe {
	display:block; margin:0 auto 30px auto; border: 10px solid white;
}
.twoCol .info {
	width: 84%; margin-left: 8%; list-style:none; font-weight:600;
}
#complaint {
	text-align:center; margin-bottom: 30px;
}
#complaint p {
	font-weight:600;
}
.formHolder {
display: inline-block;
}
#complaint label, #complaint input {
text-align: left;
}
#complaint label, #complaint input, #complaint textarea {
margin-left: 50px;
}
#complaint label {
display: block;
margin-bottom: 10px;
}
#complaint input, #complaint textarea {
margin-bottom: 10px;
/* width: 53%; */
-webkit-border-radius: 2px;
border-radius: 2px;
border: 2px inset;
padding-left: 5px;
border: inset 2px #666;
background:white;
width:350px;
}
#complaint input {
	height:25px;
}
#complaint textarea {
	height:100px;
}
#complaint input[type="submit"] {
	cursor: pointer; -webkit-appearance: button; padding-left: 10px; width: 112px; height: 40px; background: #ff6700; color: white; border: none; text-transform: uppercase; font-weight: 700;
}
#cForm {
	margin:30px 0; width:280px; margin-left:20px; padding-bottom: 20px;
}
#cForm input {
	margin-bottom:30px;
}
#cForm input[type="email"], #cForm input[type="text"] {
	height: 35px;
line-height: 35px;
border: 1px solid #3da0bc;
-webkit-border-radius: 5px;
border-radius: 5px;
padding-left: 45px;
width:230px;
}
#cForm label {
	background: #3da0bc;
-webkit-border-radius: 5px 0 0 5px;
border-radius: 5px 0 0 5px;
width: 40px;
height: 39px;
display: inline-block;
position: absolute;
z-index: 5;
}
#cForm label img {
position: absolute;
z-index: 10;
top: 11px;
left: 10px;
}
#cForm input[type="submit"] {
	color: white;
height: 50px;
line-height: 50px;
border: none;
font-weight: 600;
font-size: 20px;
-webkit-border-radius: 5px;
border-radius: 5px;
background: #ff9200;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #ff9200 0%, #ff6700 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9200), color-stop(100%,#ff6700));
background: -webkit-linear-gradient(top, #ff9200 0%,#ff6700 100%);
background: -o-linear-gradient(top, #ff9200 0%,#ff6700 100%);
background: -ms-linear-gradient(top, #ff9200 0%,#ff6700 100%);
background: linear-gradient(to bottom, #ff9200 0%,#ff6700 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9200', endColorstr='#ff6700',GradientType=0 ); width:275px;
}
.phone li {
	list-style:none; margin:0;
}
.phone a {
	text-align:center; display:block; font-size:24px; line-height:42px;
}
.threeCol img.topImg {
	display:block; text-align:center; margin: 0 auto 30px auto; -webkit-box-shadow: 0 0 2px rgba(0,0,0,.75); -moz-box-shadow: 0 0 2px rgba(0,0,0,.75); box-shadow: 0 0 2px rgba(0,0,0,.75); border:10px solid white;
}

.invest li {
margin-left: 15px;
list-style-type: circle;
line-height: 22px;
}
.oneCol {
	margin:40px 0px;
}
.oneCol .first img {
	float:left; margin-right:60px;
}
.oneCol ul {
margin-top: 60px;
margin-bottom: 30px; list-style:none;
}
.oneCol li {
float: left;
width: 30%;
margin-right: 5%;
}
.oneCol li.last {
margin-right: 0;
}
element.style {
}
.oneCol li img {
display: block;
margin: 0px auto 20px auto;
}
.oneCol h3 {
text-align: center;
font-size: 18px;
margin-bottom: 15px;
}
.oneCol p {
text-align: justify;
margin-bottom: 20px;
}
.loanPic {
	float:left; width:400px;
}


.banner { 
    position: relative; 
    overflow: auto; 
    //float: left; 
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 7;
    //border: solid;
    box-shadow: 0px 10px 5px rgba(0,0,0,0.6); 
    -moz-box-shadow: 0px 10px 5px rgba(0,0,0,0.6); 
    -webkit-box-shadow: 0px 10px 5px rgba(0,0,0,0.6); 
    -o-box-shadow: 0px 10px 5px rgba(0,0,0,0.6); 
    
   background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(68,141,214,0.75) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(68,141,214,0.75))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(68,141,214,0.75) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(68,141,214,0.75) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(68,141,214,0.75) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(68,141,214,0.75) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf448dd6',GradientType=0 ); /* IE6-9 */

}
    .banner li { 
        list-style: none; 
        height: 365px;

    }
        .banner ul li { 
            float: left; 
            //width: 100%;
        }

        body {
            //width: 900px;
        }
        .gridContainer, .holder, .clearfix, #bottomBanner,footer {
            width: 900px;
        }
        
        #top .holder h1 {
            width: 70%
        }